# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native secrets
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env files
.env
.env.local
.env*.local

# TypeScript
*.tsbuildinfo

# Tutorial leftovers
app-example
